<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Chamge email</title>
</head>
<body>
<div th:fragment="change_password">
    <button class="btn btn-outline-primary m-1" type="button" data-bs-toggle="collapse"
            data-bs-target="#change_password" aria-expanded="false" aria-controls="change_password"
            th:text="#{edit} + ' ' + #{password} ">
    </button>
    <div class="collapse collapse-horizontal" id="change_password">
        <div class="card card-body" style="width: 300px;">
            <form class="m-2" method="post" th:action="@{/user/{path}/change_password(path=${session.user_auth.id})}">
                <div class="mx-2 mt-1" th:text="#{old} + ' ' + #{password}"></div>
                <input type="text" name="old_password" required>
                <div class="mx-2 mt-1" th:text="#{new} + ' ' + #{password}"></div>
                <input type="text" name="password" required>
                <button class="btn btn-outline-success m-1" type="submit" th:text="#{apply}"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>