<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>
<body>
<div th:fragment="sort">

    <form class="m-2" method="get" th:action="@{/admin/users/sort}">

        <div class="row">
            <div class="mx-2 mt-1" th:text="#{sort_by}"></div>
            <select name="sort" size="1" required>
                <option class="text-danger fw-bold" th:text="${sort}" selected></option>

                <option value="email" th:text="#{email}"></option>
                <option value="lastName" th:text="#{last_name}"></option>
                <option value="phoneNumber" th:text="#{phone_number}"></option>
                <option value="registered" th:text="#{registered}"></option>
                <option value="active" th:text="#{is_active}"></option>
            </select>

            <div class="mx-2" th:text="#{order_by}"></div>

            <select name="order" size="1" required>
                <option class="text-info fw-bold" th:text="${order}" selected></option>
                <option value="ASC" th:text="#{ascending}"></option>
                <option value="DESC" th:text="#{descending}"></option>
            </select>

            <button class="btn btn-outline-success mx-2"
                    type="submit" th:text="#{apply}"></button>
        </div>
    </form>

</div>
</body>
</html>