<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div th:fragment="order">
    <select name="order" size="1" required>
        <option class="text-info fw-bold" th:text="${order}" selected></option>
        <option value="ASC" th:text="#{ascending}"></option>
        <option value="DESC" th:text="#{descending}"></option>
    </select>
</div>
</body>
</html>