<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>
<body>
<div th:fragment="cards">
    <div th:if="${accounts != null and not #lists.isEmpty(accounts)}">
        <div class="row row-cols-auto">
            <div class="card text-dark bg-light border-info m-1  height: 200px;" style="width: 20rem;"
                 th:each="account : ${accounts}">
                <div class="card-header text-info fw-bold"
                     th:text="#{credit_card} + ': ' + ${account.card.getCardNumberSpaces()}"></div>
                <div class="card-body">
                    <h6 class="card-title lh-1" th:text="${account.balance}/100 + ' '+ ${account.currency}"></h6>
                    <div class="card-text lh-1" th:text="${account.accountName} + ', UA' + ${account.id}"></div>
                </div>
            </div>
        </div>
    </div>
    <h3 th:if="${accounts == null or #lists.isEmpty(accounts)}">You have no cards</h3>
</div>
</body>
</html>