<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}"/>

<body class="index">

<div th:insert="~{fragments/header :: navbar}"> </div>

<div class="container mt-5">

    <div><a class="btn btn-outline-success m-2" th:href="@{/login}" th:text="#{login_in}">login</a></div>
    <div><a class="btn btn-outline-success m-2" th:href="@{/accounts}" th:text="#{accounts}">Accounts</a></div>
    <div><a class="btn btn-outline-primary m-2" th:href="@{/registration}" th:text="#{registration}">registration</a></div>
    <div><a class="btn btn-outline-warning m-2" th:href="@{/users}" th:text="#{users_list}">users list</a></div>


    <div class="row">
        <div class="col">
            <h1 th:text="#{welcome}"></h1><br/>
            <img src="/static/images/payments.png">
        </div>

        <div class="col">
            <span th:if="${session.user_auth != null}">
                <h1>
                    <p th:text="${session.user_auth.lastName}"/>
                    <p th:text="${session.user_auth.name}"/>
                    <p th:text="${session.user_auth.middleName != null} ? ${session.user_auth.middleName}"/>
                </h1>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn-outline-secondary" th:text="#{logout}"></button>
                </form>
            </span>
        </div>
    </div>
</div>
</body>
</html>