<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}"/>

<body class="account">

<div th:insert="~{fragments/header :: navbar}"></div>
<div th:insert="~{fragments/messages :: messages}"></div>

<div class="container mt-1">
    <h4 th:text="#{account}"></h4><br/>

    <div class="row">
        <div class="col">
            <div th:insert="~{account/account_table :: account_table}"></div>
        </div>
        <div class="col">
            <div th:insert="~{account/refill :: refill}"></div>

            <div th:insert="~{account/blocking :: blocking}"></div>

        </div>
    </div>


</div>
</body>
</html>