<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
    <title></title>Admin</head>

<body class="admin">

<div th:insert="~{fragments/header :: navbar}"></div>
<div th:insert="~{fragments/messages :: messages}"></div>

<div class="container mt-2">

    <div class="row">
        <div class="col">
            <h3 th:text="#{to_do}"></h3><br/>
            <div th:if="${requests != null and not #lists.isEmpty(requests)}">
                <table class="table table-striped auto__table table-condensed text-center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th th:text="#{number}"><</th>
                        <th th:text="#{balance}"><</th>
                        <th th:text="#{currency}"><</th>
                        <th th:text="#{opened}"><</th>
                        <th th:text="#{is_active}"><</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request,iter : ${requests}">
                        <td th:text="${iter.index}+1"></td>
                        <td th:text="${request.account.id}"></td>
                        <td th:text="${request.account.balance/100}"></td>
                        <td th:text="${request.account.currency}"></td>
                        <td th:text="${T(com.kor.payments.utils.Utils).getFormatedDate(request.account.registered)}"></td>
                        <td th:text="${request.account.active}? #{is_active} : #{blocked}"></td>
                        <td>
                            <form th:action="@{/admin/action/{path}(path=${request.account.id})}" method="post">
                                <div th:if="${request.action.name().equals('BLOCK')}">
                                    <input type="hidden" name="is_active" value="false"/>
                                    <button class="btn btn-outline-danger mt-2"
                                            type="submit" th:text="#{block}"></button>
                                </div>
                                <div th:if="${request.action.name().equals('UNBLOCK')}">
                                    <input type="hidden" name="is_active" value="true"/>
                                    <button class="btn btn-outline-success mt-2"
                                            type="submit" th:text="#{unblock}"></button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2 th:if="${requests == null or #lists.isEmpty(requests)}" th:text="#{no_accounts} + ' ' + #{to_do}"></h2>
        </div>

        <div class="col-sm-3" th:unless="${rates == null or #lists.isEmpty(rates)}">

            <div class="card text-dark bg-light border-info m-1  height: 200px;" style="width: 20rem;">
                <div class="card-header text-info fw-bold" th:text="#{exchange_rate}"></div>
                <div class="card-body">
                    <table class="table auto__table table-condensed text-center mt-2">
                        <tbody>
                        <tr>
                            <td th:each="rate : ${rates}">
                                <p th:text="${T(com.kor.payments.utils.Utils).getFormatedDate(rate.updated)}"></p>
                                <p th:text="'1 ' + #{${rate.currency.name()}}"></p>
                                <form method="post" action="#"
                                      th:action="@{/admin/update_exchange_rate/{path}(path=${rate.id})}">
                                    <input type="number" th:max="100" th:value="${rate.exchangeRate}" step=".01"
                                           min="0.01" name="rate" required="required"/>
                                    <p th:text="#{UAH}"></p>
                                    <button class="mt-1" type="submit" th:text="#{update}"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>