<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}"/>

<body class="payment_details">

<div th:insert="~{fragments/header :: navbar}"></div>

<div class="container mt-1">

    <h3 class="my-1" th:text="#{details}"></h3><br/>

    <table class="table table-striped auto__table table-condensed ">
        <tbody>
        <tr>
            <td th:text="#{date}"></td>
            <td th:text="${T(com.kor.payments.domain.Utils).getFormatedDate(transaction.registered)}"></td>
        </tr>
        <tr>
            <td th:text="#{receiver_account}"></td>
            <td th:text="${'UA' + transaction.receiver.id}"></td>
        </tr>
        <tr>
            <td th:text="#{receiver}"></td>
            <td th:text="${transaction.receiver.user.lastName + ' ' + transaction.receiver.user.name + ' ' + transaction.receiver.user.middleName}"></td>
        </tr>
        <tr>
            <td th:text="#{payment_receiver_amount}"></td>
            <td th:text="${transaction.accrual}/100"></td>
        </tr>
        <tr>
            <td th:text="#{receiver} + ', ' + #{currency}"></td>
            <td th:text="${transaction.receiver.currency}"></td>
        </tr>

        <tr>
            <td th:text="#{payer}"></td>
            <td th:text="${transaction.payer.user.lastName + ' ' + transaction.payer.user.name + ' ' + transaction.payer.user.middleName}"></td>
        </tr>
        <tr>
            <td th:text="#{payer_account}"></td>
            <td th:text="${'UA' + transaction.payer.id}"></td>
        </tr>
        <tr>
            <td th:text="#{payer} + ', ' + #{currency}"></td>
            <td th:text="${transaction.currency}"></td>
        </tr>
        <tr>
            <td th:text="#{payment_amount}"></td>
            <td th:text="${transaction.amount}/100"></td>
        </tr>
        <tr>
            <td th:text="#{payment_destination}"></td>
            <td th:text="${transaction.destination}"></td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>