<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}"/>

<body class="accounts_list">

<div th:insert="~{fragments/header :: navbar}"></div>
<div th:insert="~{fragments/messages :: messages}"></div>

<div class="container mt-1">
    <h3 th:text="#{accounts}"></h3><br/>
    <h4 th:text="${user_date}"></h4><br/>

    <div th:unless="${accounts.size() == 0}">
        <table class="table table-striped auto__table table-condensed text-center">
            <thead>
            <tr>
                <th th:text="#{number}"><</th>
                <th th:text="#{balance}"><</th>
                <th th:text="#{account_name}"><</th>
                <th th:text="#{currency}"><</th>
                <th th:text="#{is_active}"><</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="'UA' + ${account.id}"></td>
                <td th:text="${account.balance}/100"></td>
                <td th:text="${account.accountName}"></td>
                <td th:text="${account.currency}"></td>
                <td th:text="${account.active}? #{is_active} : #{blocked}"></td>
                <td th:unless="${session.user_auth.role.name().equals('ADMIN')}">
                    <a class="btn btn-outline-primary mx-1" th:href="@{/account/{path}(path=${account.id})}"
                       th:text="#{refill_balance}"></a>
                </td>

                <td th:if="${session.user_auth.role.name().equals('ADMIN')}">
                    <form th:action="@{/admin/action/{path}(path=${account.id})}" method="post">
                        <div th:unless="${account.active}">
                            <input type="hidden" name="is_active" value="true"/>
                            <button class="btn btn-outline-danger mt-2"
                                    type="submit" th:text="#{unblock}"></button>
                        </div>
                        <div th:if="${account.active}">
                            <input type="hidden" name="is_active" value="false"/>
                            <button class="btn btn-outline-success mt-2"
                                    type="submit" th:text="#{block}"></button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${accounts.size() == 0}" th:text="#{no_accounts}"></p>
    <br/>
    <a href="/" th:text="#{home_page}"></a>
</div>
</body>
</html>