<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>
<body>
<div th:fragment="sort">

    <form class="m-2" method="get" th:action="@{payments_sorted(page=${page})}">
        <div class="row">
            <input type="hidden" th:value="${title}" name="inflows">
            <div class="mx-2 mt-1" th:text="#{sort_by}"></div>

            <select name="sort" size="1" required>
                <option class="text-danger fw-bold" th:text="${sort}" selected></option>
                <option value="payer" th:text="#{payer}"></option>
                <option value="receiver" th:text="#{receiver}"></option>
                <option value="registered" th:text="#{date}"></option>
                <option th:unless="${title.equals('inflows')}" value="amount" th:text="#{amount}"></option>
                <option th:if="${title.equals('inflows')}" value="accrual" th:text="#{payment_receiver_amount}"></option>
                <option th:unless="${title.equals('inflows')}" value="currency" th:text="#{currency}"></option>
            </select>

            <div class="mx-2" th:text="#{order_by}"></div>

            <select name="order" size="1" required>
                <option class="text-info fw-bold" th:text="${order}" selected></option>
                <option value="ASC" th:text="#{ascending}"></option>
                <option value="DESC" th:text="#{descending}"></option>
            </select>

            <button class="btn btn-outline-success mx-2"
                    type="submit" th:text="#{apply}"></button>

        </div>
    </form>

</div>
</body>
</html>